body {
	padding: 0;
	margin: 0;
	border: 0;
}

div#draw {
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	/*border: solid red 3px;*/
	position: relative;
}

canvas#canvas {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*border: solid yellow 3px;*/
}