html {
	max-width: 100%;
	min-width: 100%;
	max-height: 100%;
	min-height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

div#layout {
	margin: 0;
	border: 0;
	padding: 1%;
	height: 100%;
	width: 100%;
	display: flex;
	background-color: black;
}

div.canvasDraw {
	flex: 90;
}

div.toolbar {
	position: relative;
	flex: 1 12vmin;
	padding: 1%;
	background-color: transparent;
}

div.toolbar div.toolgroupbottom {
	position: absolute;
	bottom: 0;
}

div.toolbar button {
	padding: 1vmin;
	border: 0;
	display: block;
	height: 10vmin;
	width: 10vmin;
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: lightblue;
	border-radius: 1vmin;
}

div.toolbar button:hover {
	background-color: lightcyan;
	transition: 0.5s;
}

div.toolbar button:active {
	background-color: white;
	transition: 0.1s;
}

div.toolbar button.active {
	background-color: lightcoral;
}

div.toolbar button>img {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
}